# Aplicación
APP_NAME ="Mi Web Service"
APP_ENV = "development"
APP_DEBUG = "True"
APP_PORT = 8000
# Base de datos
DATABASE_URL = "sqlite:///./dev.db"
# Seguridad
SECRET_KEY = "cambia-este-valor-en-produccion"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
# Wompi (sandbox)
WOMPI_PUBLIC_KEY = "pub_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WOMPI_PRIVATE_KEY = "prv_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WOMPI_EVENTS_SECRET = "test_events_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WOMPI_INTEGRITY_SECRET = "test_integrity_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# Factus (sandbox)
FACTUS_BASE_URL = "https://api-sandbox.factus.com.co"
FACTUS_EMAIL = "tu-correo@example.com"
FACTUS_PASSWORD = "cambia-este-valor"
FACTUS_CLIENT_ID = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
FACTUS_CLIENT_SECRET = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FACTUS_NUMBERING_RANGE_ID = "389"